.App {
  text-align: center;
}

.articleBox {
  float: left;
}

.articleList {
  width: 50%;
}

.shoppingCard {
  width: 40%;
}

.wishList {
  width: 40%;
}

/* its more like a list container */
.listElement {
  float: left;
}

/* used to make a single list entry beauty and fancy :-) */
.listItem {
  background-color: whitesmoke;
}
